<ion-header>
  <ion-toolbar>
    <ion-title>club-combinations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="club-combination-list" *ngIf="userService.user$ | async as user">
      <ion-item *ngFor="let clubCombination of userClubCombinationService.clubCombinations$ | async"
                class="club-combination">
        <ion-label>{{clubCombination.name}}</ion-label>
        <ion-label>{{clubCombination.description}}</ion-label>
        <ion-button [routerLink]="['edit-club-combination', clubCombination.id]">Edit</ion-button>
        <ion-button (click)="userClubCombinationService.deleteUserClubCombination(user.id, clubCombination.id)">Delete</ion-button>

      </ion-item>
    </div>
    <ion-button [routerLink]="['new-club-combination']">Add</ion-button>
</ion-content>
