<script src="../../models/user.model.ts"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>user-information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userService.user$ | async as currentUser">
  <ion-item lines="none">
    <div class="input-container">
      <div class="icon-container">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>
      <div class="input">
        <ion-label position="stacked">UserName</ion-label>
        <ion-input placeholder="User" required="true" [(ngModel)]="currentUser.userName"></ion-input>
      </div>
    </div>
  </ion-item>
  <ion-item lines="none">
    <div class="input-container">
      <div class="icon-container">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>
      <div class="input">
        <ion-label position="stacked">Handicap</ion-label>
        <ion-input type="number" placeholder="15" required="true" [(ngModel)]="currentUser.handicap"></ion-input>
      </div>
    </div>
  </ion-item>
  <ion-item>
    <img [src]="currentUser.picture">
  </ion-item>

  <ion-button routerLink="clubs">Maintain Clubs</ion-button>
  <ion-button routerLink="routines">Maintain Routines</ion-button>
  <ion-button routerLink="club-combinations">Maintain Club Combinations</ion-button>

</ion-content>
