<script src="../../models/user.model.ts"></script>
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userService.user$ | async as currentUser">
  <main>
    <div id="user-info">
      <div id="name-and-photo">
        <img [src]="currentUser.picture" alt="current user image">
        <h1>{{ currentUser.userName }}</h1>
      </div>
      <div>
        <span>Hadicap:</span>
        <input type="number" placeholder="15" required="true" [(ngModel)]="currentUser.handicap" />
      </div>
      <div>
        <span>Home State:</span>
        <ion-select [(ngModel)]="currentUser.state">
          <ion-select-option *ngFor="let state of states" [value]="state.abbreviation">
            {{ state.name }}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
  </main>

  <ion-button routerLink="clubs">Maintain Clubs</ion-button>
  <ion-button routerLink="routines">Maintain Routines</ion-button>
  <ion-button routerLink="club-combinations">Maintain Club Combinations</ion-button>

</ion-content>
